<html>

{% load static from staticfiles %}

<head>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">

  <style type="text/css">

  #schedule {
	width: 500;
	height: 300;
}


.right-inner-addon {
	position: relative;
}
.right-inner-addon input {
	padding-right: 30px;    
}
.right-inner-addon i {
	position: absolute;
	right: 0px;
	padding: 10px 12px;
}

#courseInfo {
	display: none;
	padding-top: 10px;
	-moz-box-shadow:    1px 1px 6px 0px #ccc;
	-webkit-box-shadow: 1px 1px 6px 0px #ccc;
	box-shadow:         1px 1px 6px 0px #ccc;
	position: absolute;
	top: 10%;
	left: 10%;
}
.link {
	cursor: pointer;
}
  </style>
  
<!--
  <link rel="stylesheet" src="{% static "scheduler.css" %}">

-->
  
</head>

<body>

  <div class="container">


    {% block content %}
    
    {% endblock %}

  </div>

</body>
