{% extends "base.html" %}

{% block content %}

{% load static from staticfiles %}


<h1>My Schedule</h1>

<div class="row">
    <div class="col-md-8">
    <canvas id="schedule" width="700" height="300"></canvas>
    </div>
<div class="col-md-1">
</div>

<div class="col-md-3">
share
</div>
</div>

<h2>Search for courses</h2>
<div class="right-inner-addon">
  <i class="icon-search"></i>
  <input type="search" class="form-control" id="filter" placeholder="Search for classes..." />
</div>

<div id="courseList" class="row" id="accordion">
  {% for course in courses %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{course.dept}}-{{course.number}}">{{course}}</a></div>

    <div id="collapse-{{course.dept}}-{{course.number}}" class="panel-collapse collapse ">
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Course id</th>
            <th>Class time</th>
            <th>Taught by</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for section in course.section_set.all %}
        <tr>
          <td>{{ section.courseid }}</td>
          <td><i>{% for session in section.session_set.all %} {{ session }}, {% endfor %}</i></td>
          <td>{{ section.professor }}</td>
          <td><a href="#"><span class="glyphicon glyphicon-plus"></span>Add to Schedule</a></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
  </div>
  {% endfor %}
</div>

<div id="courseInfo" class="container">
    <div class="well">
        <span id="closeCard" class="glyphicon glyphicon-remove pull-right link"></span>
        <h1 id="course-number">MATH 221 <small id="course-title">Intro to Linear Algebra</small></h1>
        <blockquote id="course-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare facilisis ligula, nec luctus magna pellentesque commodo. Ut aliquam nulla sit amet suscipit fringilla. Donec facilisis feugiat dignissim. Pellentesque imperdiet enim quis commodo volutpat. Quisque ipsum tellus, luctus sed dolor ut, porttitor ornare mauris. Nam sollicitudin, sem ac posuere ultricies, tortor dolor volutpat est, vitae sagittis ipsum justo non eros. Fusce sodales faucibus blandit. Praesent consectetur nulla sem, a volutpat erat dictum nec. Aliquam convallis ultrices mattis. Vivamus fringilla tristique ligula, sed eleifend justo semper vitae.</blockquote>
        <dl class="dl-horizontal">
          <dt>Instructor</dt> <dd id="instructor">Draganescu, Andrei</dd>
          <dt>Section</dt> <dd id="section">02</dd>
          <dt>Section Type</dt> <dd id="section-type">Lecture</dd>
          <dt>Semester</dt> <dd id="semester">Fall 2013</dd>
          <dt>Credits</dt> <dd id="credits">3.0</dd>
          <dt>Pre-Requirements</dt> <dd id="prereqs">MATH 151</dd>
          <dt>Co-Requirements</dt> <dd id="coreq">None</dd>
        </dl>
        <table class="table table-bordered">
          <tr class="h3 text-center ratings">
            <td class="active" title="Effectiveness" data-content="Explanation here."><strong>Effectiveness</strong></td>
            <td class="success" id="effectiveness">4.6</td>
            <td class="active" title="Grading" data-content="Explanation here."><strong>Grading</strong></td>
            <td class="warning" id="grading">3.2</td>
            <td class="active" title="Cancellability" data-content="Explanation here."><strong>Cancellability</strong></td>
            <td class="danger" id="cancellability">1.2</td>
          </tr>
        </table>
    </div>
</div>


<script src="http://code.jquery.com/jquery-latest.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="{% static "schedule.js" %}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    
    ///////////////////////////////
    // Schedule canvas

    // Set a start and end time to display
    // 10am -> 8pm
    var schedStartTime = [10, 0]; // [h, m]
    var schedEndTime = [20, 0];
    
    // Initialize everything
    initializeCanvas($("#schedule"), schedStartTime, schedEndTime, function(clickInfo) {
      //console.log(clickInfo);
      //$('#clickInfo').val(JSON.stringify(clickInfo));
      if (clickInfo.classInfo) {
        showCard(clickInfo.classInfo.uid);
      }
    });
    
    // Add classes
    addClass([17,30],[19,10],"Tuesday","CHEM 437",1000);
    addClass([17,30],[19,10],"Thursday","CHEM 437",1000);

    addClass([13,00],[14,10],"Monday","MATH 221",1001);
    addClass([13,00],[14,10],"Wednesday","MATH 221",1001;

    addClass([16,00],[17,15],"Monday","CMSC 203",1002);
    addClass([16,00],[17,15],"Wednesday","CMSC 203",1002);
    
    // Get the image string:
    //pngURI = screenshot();

    ///////////////////////////////
    // Live search
    // Credit: http://stackoverflow.com/questions/15103358/live-search-in-jquery
    $("#filter").keyup(function(){
      // Retrieve the input field text and reset the count to zero
      var filter = $(this).val(), count = 0;

      // Loop through the comment list
      $("#courseList > div").each(function(){

        // If the list item does not contain the text phrase fade it out
        if ($(this).text().search(new RegExp(filter, "i")) < 0) {
          $(this).fadeOut();

        // Show the list item if the phrase matches and increase the count by 1
        } else {
          $(this).show();
          count++;
        }
      });

      // Update the count
      //var numberItems = count;
      //$("#filter-count").text("Number of Comments = "+count);
    });
    // Prevent Enter key from submitting the form
    $("#filter").keypress(function(e){
      if(event.keyCode == 13) {
        e.preventDefault();
        return false;
      }
    });

    ///////////////////////////////
    // Section card
    function showCard(uid) {
      // get data based on uid (via ajax?)

      // Populate data
      $("#course-number").text("");
      $("#course-title").text("");
      $("#course-description").text("");
      $("#instructor").text("");
      $("#section").text("");
      $("#section-type").text("");
      $("#semester").text("");
      $("#credits").text("");
      $("#prereqs").text("");
      $("#coreq").text("");
      $("effectiveness").text("");
      $("grading").text("");
      $("cancellability").text("");
      courseInfo.show();
    }
  });
  // Close button
  $("#closeCard").click(function(e){
    $("#courseInfo").hide();
  });
  
  
</script>


{% endblock %}
